# React
frontend/**/node_modules/
frontend/**/dist/

# Spring Boot
backend/**/target/

# Eclipse
.metadata/
backend/.metadata/
backend/**/.metadata/

# Bin folders
**/bin/

# IDE
.vscode/
.idea/

# Environment
.env
**/.env

# Logs
*.log

# OS
Thumbs.db
.DS_Store